.cardInformation {
    display: flex;
    justify-content: space-between;
}
.cardImage {
    max-height: 150px;
    object-fit: cover;
}
.online {
    color: lime;
    font-weight: 500;
}
.offline {
    color: orangered;
    font-weight: 500;
}
.avatarImage {
    max-height: 300px;
    object-fit: cover;
}